* {
    background-color: #fff;
  }
  
  .carousel-container {
    width: 40%;
    margin: 0 auto;
    margin-top: 2rem;
  }
  
  .slick-slide img {
    width: 100%;
    border-radius: 8px;
  }
  
  h2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 800;
  }

  h2:hover {
    color: #ffee00;
  }
  

  .slick-prev,
  .slick-next {
    font-size: 0;
    line-height: 0;
    /*color: transparent;*/
    outline: none;
    /*background: transparent;*/
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    transition: color 0.3s;
  }
  
  .slick-prev {
    left: -30px;
  }
  
  .slick-next {
    right: -30px;
  }
  
  .slick-prev:hover,
  .slick-next:hover {
    color: #920707 !important;
  }
  