.listagem-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 1rem;
  margin: 4rem;
  margin-top: 20px;
}

.item-card {
  width: 250px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
}

.item-info {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.item-label {
  font-weight: bold;
}

.item-actions {
  margin-top: auto;
}

.delete-button {
  background-color: #ff5c5c;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 5rem;
  float: center;
}

.delete-button:hover {
  background-color: #e02424;
}
