.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f4f4;
  padding: 10px;
  height: 100vh;
}

#content {
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

h1 {
  color: #333;
}

#form-account, #form-product {
  width: 300px;
  max-width: 600px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 0, auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.field {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 15px;
}

.field label {
  align-self: flex-start;
  margin-bottom: 5px;
  font-weight: 500;
  color: #555;
}

.field select{
  height: 40px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 8px;
  font-size: 14px;
}

.field input{
  height: 24px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 8px;
  font-size: 14px;
}

button {
  padding: 12px;
  cursor: pointer;
  border-radius: 3px;
  border: none;
  background-color: #3498db;
  color: #fff;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #007bb5;
}

.validation {
  color: #d9534f;
  font-size: 1rem;
  margin-top: 10px;
}

@media (min-width: 1200px) {
  #content {
    margin-top: 2rem;
    flex-direction: row;
    justify-content: space-evenly;
  }

  #form-account, #form-product {
    height: 430px;
    margin: 0;
  }
}
