nav {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  ul {
    list-style: none;
    padding: 0;
    display: flex;
  }
  
  li {
    margin-right: 20px;
  }
  
  a {
    text-decoration: none;
    color: #292929;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s;
  }
  
  a:hover {
    color: #ffdc15;
  }
  