#form {
    width: 100%;
    margin: 0 auto;
}

.data {
    border: 2px solid #ddd;
    box-sizing: border-box;
    background-color: #fff;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.75rem;
}

label {
    margin-bottom: 0.5rem;
    font-weight: 600;
}

select {
    width: 150px;
    height: 30px;
    text-align: center;
    font-weight: 400;
    border-radius: 5px;
}

#modelo {
    width: 90%;
}

button {
    margin: 1rem 0;
    width: 120px;
    height: 35px;
    font-size: 1.4rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: rgb(108, 68, 255);
    color: #ddd;
    font-weight: 400;
    cursor: pointer;
}

.results {
    font-size: 1.6rem;
    font-weight: 700;
}

@media screen and (min-width: 425px) {
    select {
        width: 150px;
    }

    #modelo {
        width: 350px;
    }
}

@media screen and (min-width: 600px) {
    .data {
        width: 500px;
        margin: 0 auto;
    }

    select {
        width: 200px;
        font-size: 1rem;
    }

    #modelo {
        width: 400px;
    }

    button {
        width: 150px;
        height: 40px;
        font-size: 1.4rem;
    }
}
